/* =========================================
   ЭКРАН АВТОРИЗАЦИИ
   ========================================= */
.auth-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.auth-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 280px;
  gap: 16px;
}

.auth-input, .auth-btn {
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  text-align: center;
  outline: none;
  font-family: inherit;
}

.auth-input {
  background-color: #d1d1d6; 
  color: #333;
}

.auth-input::placeholder {
  color: #888;
}

.auth-btn {
  background-color: #d1d1d6;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.auth-btn.primary {
  background-color: #007AFF;
  color: white;
}